// Default theme variables
// =======================

// Colors
@import 'node_modules/bootstrap/scss/functions.scss';
@import 'node_modules/bootstrap/scss/variables.scss';

$primary: #448b28;
$header-green: #88aa91;
$warning: #fcd0d3;
$danger: #ba1b23;
$warning2: #fdecea;
$danger2: #fa4017;
$light: rgba(103, 196, 98, 0.12);
$dark: #277c3f;
$alice-blue: #f5f6fa;
$alice-blue2: #f4f6fa;
$alice-blue3: #f8faff;
$vida-loca: #4f9221; //Green texts in the design use this, same as borders
$rhino: #343f68;
$shark: #2b2c2f;
$tuna: #393943;
$scorpion: #565656;
$white: #fff;
$black: #000;
$mulled-wine: #48446f;
$mystic: #e3e8ee;
$mystic2: #e1e5ee;
$pale-sky1: #697386;
$pale-sky2: rgba(105, 119, 136, 0.4);
$pale-sky3: #697788;
$white-lilac: rgba(92, 106, 196, 0.1);
$river-bed: #3e4854;
$mischka: #d7d7e0;
$athens-gray: #e9ecef;
$regent-gray: #8a99a7;
$cinderella: #fcd0d3;
$tamarillo: #a51920;
$light-mint: #e9f9e6;
$magic-mint: #9deeb2;
$jewel: #10642a;
$panache: #f0f8f1;
$bright-gray: #3c4257;
$silver-chalice: #acacac;
$milano-red: #bb0707;
$red-tone: #d14a70;
$gin: #f1f6f4;
$gin-light: #61a851;
$blue-sky: #edf8fd;
$blue-sea: #39f;
$blue-sea-dark: #6eaeee;
$light-purple: #8659de;
$feta: #effcee;
$forest-green: #3e882d;
$oche-light: #abcfb2;
$oche-dark: #3e882d;
$spring-rain: #abcfb2;
$bali-hai: #8898aa;
$alabaster: #f9f9f9;
$mine-shaft: #333;
$martinique: #32325d;
$emperor: #4f4f4f; //for special CTAs
$gray: #8c8c8c;
$iron: #d1d6da;
$persimmon: #ff5f58;
$envy: #88aa91;
$concrete: #f2f2f2;
$light-yellow: #d2ab20;
$toria: #fcf8ee;
$ivory: #fcfbee;
$ivory2: #fdfdea;
$corn-harvest: #886c2d;
$cardinal: #b61240;
$white-smoke: #fceeee;
$amethyst-smoke: #9895b3;
$san-felix: #1d730a;
$tree-poppy: #fa9917;
$yellow-hue: #fdfdea;
$mint-cream: #f0f5f3;
$oche-line: #e1e5ee;
$zircon: #f8faff;
$gray2: #828282;
$myrtle: #165e06;
$gray5: #808080;
$manatee: #8890aa;
$dark-tangerine: #fa9917;
$floral-white: #fdf9ea;
$purple-light: #f2ebfb;
$purple-dark: #713bda;
$light-red: #feeeee;
$green-weed: #05c985;
$red-flower: #ee423d;
$orange: #ffab4f;
$falling-green: #c2dbd1;
$gainsboro: #e0e0e0;
$ghost-white: #f8f7ff;
$pattens-blue: #d7dcdf;
$radical-red: #ff3366;
$alice-blue4: #eaf3fd;
$dodger-blue: #17a8fa;
$logan: #ada9cc;
$silver: #bdbdbd;
$athens-gray2: #f0f1f5;
$blue-romance: #d7ead3;
$btn-green: #D9E6E1;
$quartz: #d1cfe8;
$rock-blue: #969DB4;
$raven: #687485;
$amulet: #6EA861;
$snow: #fff3f2;
$old-lace: #FBF6E8;
$selective-yellow: #F2B204;
$black-russian: #2B2C2F;
$solitude: #F0F2F5;
$mariner: #3B5998; //for links
$mariner2: #4267B2; //for CTAs
$quartz2: #E2E1E6;
$solitude2: #F1F3F6;
$persian-red: #DF5050;
