
@import 'node_modules/bootstrap/scss/functions.scss';
@import 'node_modules/bootstrap/scss/variables.scss';

$primary: #448b28;
$warning: #fcd0d3;
$danger: #ba1b23;
$light: rgba(103, 196, 98, 0.12);
$mariner2: #4267B2; 
$white: #fff;
$regent-gray: #8a99a7;
$white-lilac: rgba(92, 106, 196, 0.1);
$river-bed: #3e4854;
$shark: #2b2c2f;
$mischka: #d7d7e0;
$mystic: #e3e8ee;
$green-weed: #05c985;
$red-flower: #ee423d;
$mulled-wine: #48446f;
$black: #000;
$mine-shaft: #333;
$forest-green: #3e882d;
$gin-light: #61a851;
$cardinal: #b61240;
$red-tone: #d14a70;
$blue-sea: #39f;
$mystic2: #e1e5ee;
$blue-sea-dark: #6eaeee;
$purple-dark: #713bda;
$light-purple: #8659de;
$persimmon: #ff5f58;
$amethyst-smoke: #9895b3;
$concrete: #f2f2f2;
$mariner: #3B5998; 
$tree-poppy: #fa9917;

